// 导航列表样式
.head-navi {
  width: 100%;
  display: flex;
  background-color: rgb(88, 151, 187);
  height: 30px;
  .el-menu-style {
    height: 30px;
    .menu-item-style {
      height: 30px;
      line-height: 30px;
    }
  }
}